/* The Modal (background) */
.modal {
    /* display: none; Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s;
    justify-content: center;
    display: flex;
}

/* Modal Content */
.modalContent {
    position: fixed;
    bottom: 10%;
    background-color: #fefefe;
    width: 100%;
    max-width: 600px;
    text-align: center;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modalHeader {
    padding: 2px 16px;
    background-color: rgb(189, 195, 199);
    color: white;
}

.modalBody {
    padding: 2px 2px;
}

.modalFooter {
    background-color: rgb(189, 195, 199);
    color: white;
}

/* Add Animation */
@-webkit-keyframes slideIn {
    from {
        bottom: -300px;
        opacity: 0;
    }
    to {
        bottom: 10;
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        bottom: -300px;
        opacity: 0;
    }
    to {
        bottom: 10;
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.mockSearchBar {
    float: none;
    display: block;
    text-align: left;
    background-color: #f1f1f1;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    min-inline-size: -webkit-fill-available;
}
.mockSearchBarDropdown {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    left: 0;
    margin-left: 5px;
    margin-right: 5px;
    right: 0;
}
.mockSuggestedResult {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}
.mockSuggestedResult:hover {
    background-color: #e9e9e9;
}
.restaurantContainer {
    width: 100%;
    height: 500px;
}
.restaurantHeader {
    font-size: xxx-large;
    font-weight: bold;
    padding: 10px;
}
.submitButton {
    all: unset;
    height: 100%;
    padding: 25px 0px 25px;
    width: -webkit-fill-available;
    color: black;
    cursor: pointer;
}

.submitButton:hover {
    outline: orange 5px auto;
    color: whitesmoke;
    font-weight: bolder;
}
