.menuIcon:active {
    transition: opacity 0.5s, transform 0.5s;
    transform: rotate(-180deg) scale(0.5);
    opacity: 0;
}
.menuButton {
    position: absolute;
    top: 5px;
    right: 15px;
    width: 24px;
    height: 20px;
    cursor: pointer;
}

.navMenu {
    background-color: #bdc3c7;
    position: absolute;
    top: 50px;
    left: 0px;
    width: 100%;
    overflow: hidden;
    transition: height 0.45s;
    z-index: 100;
    opacity: 0.7;
    height: 0px;
}
.active {
    background-color: #bdc3c7;
    height: 350px;
    position: absolute;
    z-index: 99;
    width: -webkit-fill-available;
    opacity: 0.7;
}
